// Required
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/transitions';

// Optional
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/nav';

// @import '../../components.scss';

:host {
  --link-color: #999;
}

.navbar-toggler-icon {
  background-image: $navbar-light-toggler-icon-bg;
}

.navbar-default[short-name]:after {
  content: attr(short-name);
}

@media (min-width: 992px) {

  .navbar-expand-lg .navbar-brand {
    display: inline-block;
  }
}
